<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here is your plant classification!!!</title>
    <link rel="stylesheet" href="/static/display_plant.css">
    <!--  Head -->
</head>
{% include 'navbar.html' %}
<body>
    <h1>Your plant has been identified as a {{ plant_name }} with a confidence of {{ confidence }}%</h1>
    <img src="data:image/png;base64,{{ image }}" alt="Plant Image">
</body>
</html>
